
body {
      margin: 0;
      padding: 0;
      height: 100vh;
      background-image: url('https://images.unsplash.com/photo-1506744038136-46273834b3fb'); /* Fondo */
      background-image: url('https://a-static.besthdwallpaper.com/evening-turning-into-night-in-frount-of-a-girl-wallpaper-1680x1050-105708_5.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      display: flex;
      justify-content: center;
      align-items center;
      font-family: 'Playfair Display', serif
      color: white;
      text-align: center;
      text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
    }

    .contenido {
      background-color: rgb(250, 239, 239); /* Fondo semitransparente detrás del texto */
      padding: 40px;
      border-radius: 15px;
      max-width: 600px;
    }

    h1 {
      font-size: 3em;
      margin-bottom: 10px;
    }

    p 
      font-size: 1.3em;
    